# Keith 的笔记
{{ range $category := .Categories }}
- {{ $category }}
  {{- $notes := index $.Notes $category -}}
  {{- range $note := $notes }}
  - [{{ ToNoteTitle $note -}}]({{ ToNoteLink $note }})
  {{- end }}
{{- end }}
